# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# .env
*.env

# Brands
*brands*

# Service account keys
*service-account-key.json

# Video files
*.mp4
*.mov

# Local only Jupyter notebooks
*local.ipynb
*local_assets*
